.quiz {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);

    h1 {
        color: #FFF;
        margin-left: 10px;
    }
}

.quiz-wrap {
    max-width: 600px;
    width: 100%;
    margin:0 auto;
}